// ----- Header settings -----

header
{
  background-image: url(../media/img/image-header.jpg);
  background-size: cover ;
  background-position: center;
  width: 100%;
  height:100vh;


  a
  {
    text-decoration: none;
  }
  nav
  {
    padding: 15px;
    display: flex;
    justify-content: space-between;
  }
  ul
  {
    display: flex;
  }
  li
  {
    padding: 30px;
    color: #fff;
    font-family: $FontPrimary;
    font-weight: normal;
    &:hover{
      background-color:$white;
      border-radius: 25px;
      color: $grayish-blue;
      cursor: pointer;
      font-family: $FontPrimary;
    }
  }
  img
  {
    padding: 30px;
  }
  h1
  {
    font-family: $FontSecondary;
    font-weight: bold;
    color: #fff;
    font-size:60px;
    text-align: center;
    margin: 70px;
    letter-spacing:10px;
  }
  img:nth-child(3) // the arrow
  {
    display: block;
    margin: 0 auto;
  }
}