// ----- Import partials -----
@import'police';
@import'variables';
@import'header';
@import'cards';
@import'clients';
@import'photos';
@import'footer';

// ----- General settings -----

body
{
  font-size:18px;
  width: 1440px;
  margin: 0 auto;
}



